services:
  neo-4j:
    build: ./neo4j
    container_name: neo4j
    ports:
      - "7687:7687"
      - "7474:7474"
  backend:
    build:
      context: ./          # directory used as build context
      dockerfile: ./backend/Dockerfile 
    container_name: fastapi_backend
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: flask_frontend
    ports:
      - "5000:5000"
    depends_on:
      - backend
      - neo-4j
    environment:
      NEO4J_URI: "bolt://neo4j:7687"
      NEO4J_USER: "neo4j"
      NEO4J_PASSWORD: "password"